body {
    margin: 0;
}

.header {
    background-color: #cfe5ef;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.header__content {
    display: flex;
    align-items: center;
    height: 150px;
}

.header__logo {
    margin-right: 40px;
}

.header__button {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    padding: 18px 34px;
    text-transform: uppercase;
}

.header-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-menu__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.header-menu__link {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
}

.header-submenu {
    margin: 0;
    padding: 10px 30px 10px 20px;
    list-style-type: none;
    white-space: nowrap;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    display: none;
}

.header-menu__item:hover .header-submenu {
    display: block;
}

.header-menu__item:hover {
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.header-submenu__link {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.title::after {
    content: '';
    display: block;
    width: 200px;
    height: 5px;
    background-color: #c3c3c3;
    margin-bottom: 30px;
}

.decor {
    border: 1px solid #9f9f9f;
    background-color: #e2e2e2;
    height: 50px;
}

.block {
    margin-bottom: 75px;
    margin-top: 63px;
}

.block.review {
    margin-bottom: 95px;
}

.avatar {
    margin-top: 25px;
    margin-bottom: 32px;
}

.name {
    font-weight: bold;
    display: inline-block;
    margin-right: 30px;
    margin-top: 37px;
    margin-bottom: 32px;
}

.date {
    display: inline-block;
    color: #bfbfbf;
}

.textreview {
    text-align: justify;
    color: #797979;
}

.image {
    padding: 10px;
    position: relative;
    border: 1px solid #e2e2e2;
    max-width: 260px;
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

.image::after,
.image::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
  }

.image::after {
    top: -10px;
    right: -10px;
  }

.image::before {
    bottom: -10px;
    left: -10px;
  }

.text {
    padding-top: 18px;
    padding-left: 10px;
    margin-bottom: 50px;
  }

.gallery > .title {
    text-align: center;
}  

.gallery > .title::after {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.module-grid__cell-3 {
    margin-bottom: 0px;
}